@font-face {
    font-family: 'Cambridge';
    src: url('Cambridge-LightIt.eot');
    src: local('Cambridge Light Italic'), local('Cambridge-LightIt'),
        url('Cambridge-LightIt.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-LightIt.woff2') format('woff2'),
        url('Cambridge-LightIt.woff') format('woff'),
        url('Cambridge-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cambridge';
    src: url('Cambridge-Bold.eot');
    src: local('Cambridge Bold'), local('Cambridge-Bold'),
        url('Cambridge-Bold.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-Bold.woff2') format('woff2'),
        url('Cambridge-Bold.woff') format('woff'),
        url('Cambridge-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cambridge Exp';
    src: url('Cambridge-Exp.eot');
    src: local('Cambridge Exp'), local('Cambridge-Exp'),
        url('Cambridge-Exp.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-Exp.woff2') format('woff2'),
        url('Cambridge-Exp.woff') format('woff'),
        url('Cambridge-Exp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cambridge Exp';
    src: url('Cambridge-LightExpIt.eot');
    src: local('Cambridge Exp Light Italic'), local('Cambridge-LightExpIt'),
        url('Cambridge-LightExpIt.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-LightExpIt.woff2') format('woff2'),
        url('Cambridge-LightExpIt.woff') format('woff'),
        url('Cambridge-LightExpIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cambridge Cond';
    src: url('Cambridge-LightCondIt.eot');
    src: local('Cambridge Cond Light Italic'), local('Cambridge-LightCondIt'),
        url('Cambridge-LightCondIt.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-LightCondIt.woff2') format('woff2'),
        url('Cambridge-LightCondIt.woff') format('woff'),
        url('Cambridge-LightCondIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cambridge Cond';
    src: url('Cambridge-SemiBoldCond.eot');
    src: local('Cambridge Cond SemiBold'), local('Cambridge-SemiBoldCond'),
        url('Cambridge-SemiBoldCond.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-SemiBoldCond.woff2') format('woff2'),
        url('Cambridge-SemiBoldCond.woff') format('woff'),
        url('Cambridge-SemiBoldCond.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cambridge';
    src: url('Cambridge-Regular.eot');
    src: local('Cambridge'), local('Cambridge-Regular'),
        url('Cambridge-Regular.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-Regular.woff2') format('woff2'),
        url('Cambridge-Regular.woff') format('woff'),
        url('Cambridge-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cambridge Cond';
    src: url('Cambridge-CondIt.eot');
    src: local('Cambridge Cond Italic'), local('Cambridge-CondIt'),
        url('Cambridge-CondIt.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-CondIt.woff2') format('woff2'),
        url('Cambridge-CondIt.woff') format('woff'),
        url('Cambridge-CondIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cambridge Cond';
    src: url('Cambridge-BoldCondIt.eot');
    src: local('Cambridge Cond Bold Italic'), local('Cambridge-BoldCondIt'),
        url('Cambridge-BoldCondIt.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-BoldCondIt.woff2') format('woff2'),
        url('Cambridge-BoldCondIt.woff') format('woff'),
        url('Cambridge-BoldCondIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cambridge';
    src: url('Cambridge-SemiBold.eot');
    src: local('Cambridge SemiBold'), local('Cambridge-SemiBold'),
        url('Cambridge-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-SemiBold.woff2') format('woff2'),
        url('Cambridge-SemiBold.woff') format('woff'),
        url('Cambridge-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cambridge Exp';
    src: url('Cambridge-SemiBoldExpIt.eot');
    src: local('Cambridge Exp SemiBold Italic'), local('Cambridge-SemiBoldExpIt'),
        url('Cambridge-SemiBoldExpIt.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-SemiBoldExpIt.woff2') format('woff2'),
        url('Cambridge-SemiBoldExpIt.woff') format('woff'),
        url('Cambridge-SemiBoldExpIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Cambridge Exp';
    src: url('Cambridge-SemiBoldExp.eot');
    src: local('Cambridge Exp SemiBold'), local('Cambridge-SemiBoldExp'),
        url('Cambridge-SemiBoldExp.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-SemiBoldExp.woff2') format('woff2'),
        url('Cambridge-SemiBoldExp.woff') format('woff'),
        url('Cambridge-SemiBoldExp.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cambridge';
    src: url('Cambridge-SemiBoldIt.eot');
    src: local('Cambridge SemiBold Italic'), local('Cambridge-SemiBoldIt'),
        url('Cambridge-SemiBoldIt.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-SemiBoldIt.woff2') format('woff2'),
        url('Cambridge-SemiBoldIt.woff') format('woff'),
        url('Cambridge-SemiBoldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Cambridge Exp';
    src: url('Cambridge-ExpIt.eot');
    src: local('Cambridge Exp Italic'), local('Cambridge-ExpIt'),
        url('Cambridge-ExpIt.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-ExpIt.woff2') format('woff2'),
        url('Cambridge-ExpIt.woff') format('woff'),
        url('Cambridge-ExpIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cambridge Exp';
    src: url('Cambridge-BoldExpIt.eot');
    src: local('Cambridge Exp Bold Italic'), local('Cambridge-BoldExpIt'),
        url('Cambridge-BoldExpIt.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-BoldExpIt.woff2') format('woff2'),
        url('Cambridge-BoldExpIt.woff') format('woff'),
        url('Cambridge-BoldExpIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cambridge';
    src: url('Cambridge-BoldIt.eot');
    src: local('Cambridge Bold Italic'), local('Cambridge-BoldIt'),
        url('Cambridge-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-BoldIt.woff2') format('woff2'),
        url('Cambridge-BoldIt.woff') format('woff'),
        url('Cambridge-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cambridge Exp';
    src: url('Cambridge-BoldExp.eot');
    src: local('Cambridge Exp Bold'), local('Cambridge-BoldExp'),
        url('Cambridge-BoldExp.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-BoldExp.woff2') format('woff2'),
        url('Cambridge-BoldExp.woff') format('woff'),
        url('Cambridge-BoldExp.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cambridge';
    src: url('Cambridge-It.eot');
    src: local('Cambridge Italic'), local('Cambridge-It'),
        url('Cambridge-It.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-It.woff2') format('woff2'),
        url('Cambridge-It.woff') format('woff'),
        url('Cambridge-It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cambridge Cond';
    src: url('Cambridge-Cond.eot');
    src: local('Cambridge Cond'), local('Cambridge-Cond'),
        url('Cambridge-Cond.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-Cond.woff2') format('woff2'),
        url('Cambridge-Cond.woff') format('woff'),
        url('Cambridge-Cond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cambridge Cond';
    src: url('Cambridge-SemiBoldCondIt.eot');
    src: local('Cambridge Cond SemiBold Italic'), local('Cambridge-SemiBoldCondIt'),
        url('Cambridge-SemiBoldCondIt.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-SemiBoldCondIt.woff2') format('woff2'),
        url('Cambridge-SemiBoldCondIt.woff') format('woff'),
        url('Cambridge-SemiBoldCondIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Cambridge';
    src: url('Cambridge-Light.eot');
    src: local('Cambridge Light'), local('Cambridge-Light'),
        url('Cambridge-Light.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-Light.woff2') format('woff2'),
        url('Cambridge-Light.woff') format('woff'),
        url('Cambridge-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cambridge Cond';
    src: url('Cambridge-LightCond.eot');
    src: local('Cambridge Cond Light'), local('Cambridge-LightCond'),
        url('Cambridge-LightCond.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-LightCond.woff2') format('woff2'),
        url('Cambridge-LightCond.woff') format('woff'),
        url('Cambridge-LightCond.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cambridge Cond';
    src: url('Cambridge-BoldCond.eot');
    src: local('Cambridge Cond Bold'), local('Cambridge-BoldCond'),
        url('Cambridge-BoldCond.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-BoldCond.woff2') format('woff2'),
        url('Cambridge-BoldCond.woff') format('woff'),
        url('Cambridge-BoldCond.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cambridge Exp';
    src: url('Cambridge-LightExp.eot');
    src: local('Cambridge Exp Light'), local('Cambridge-LightExp'),
        url('Cambridge-LightExp.eot?#iefix') format('embedded-opentype'),
        url('Cambridge-LightExp.woff2') format('woff2'),
        url('Cambridge-LightExp.woff') format('woff'),
        url('Cambridge-LightExp.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

